name: Deploy Hexo Blog to My VPS
on: push
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    # 切代码到 hexo
    - uses: actions/checkout@v2
    - name: Checkout hexo
      with:
        ref: hexo
    # 下载 git submodule
    - uses: actions/checkout@v2
    - name: Checkout submodules
      shell: bash
      run: |
        auth_header="$(git config --local --get http.https://github.com/.extraheader)"
        git submodule sync --recursive
        git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1
    - uses: heliuphy/hexo-docker-action@master
    - name: Hexo clean
      with:
        args: clean
    - uses: heliuphy/hexo-docker-action@master
    - name: Hexo generate
      with:
        args: generate
    # - name: Hexo deploy to VPS
    #   uses: heliuphy/hexo-docker-action@master
    #   env:
    #     EMAIL: input email ...
    #     NAME: input name ...
    #     access-key-id: ${{ secrets.OSS_KEY_ID }}
    #   with:
    #     args: deploy